*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: helvetica;
    box-sizing: border-box;
}
.App{
    margin: 0px;
    padding: 0px;
}
#main-header{
    background-color: #ee002d;
    padding: 20px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.brand-title{
    color: #ffffff;
    text-transform: capitalize;
    /* font-style: italic; */
    font-family: arial;
    font-size: 2em;
    margin-bottom: 0px;
}
.brand-motto{
    font-family: arial;
    font-size: 13px;
    color: #dbd9d9;
}
.input-search{
    padding: 10px 12px;
    border-radius: 4px;
    outline: 0px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.navbar-brand{
    display: none;
}
.advert-container{
    width: 90%;
    margin: 0 auto;
}
.advert-wrapper{
    width: 60%;
}
.upper-advert{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 50px 0 10px;
}
.bottom-advert{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.news-headline{
    background-color: #dbd9d9;
    width: 100%;
    padding: 8px 10px;
}
.category-top, .category-bottom{
    background-color: #ee002d;
    color: #ffffff;
    width: 30%;
    padding: 8px 20px;
}
.category-bottom{
    background-color: #152535;
}
#footer-wrapper{
    background-color: #152535;
    margin: 0px;
    padding: 0px;
    height: 500px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 5em 0 5em;
    width: 90%;
    margin: 0 auto;
}
.footer-top a{
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;
}
.footer-top .nav-title{
    font-size: 16px;
}
.footer-bottom{
    margin-top: 10px;
}
.footer-copyright{
    margin-left: 50px;
}