*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: helvetica;
    box-sizing: border-box;
    
}
.App{
    margin: 0px;
    padding: 0px;
}
#main-header{
    background-color: #ee002d;
    padding: 20px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.brand-title{
    color: #ffffff;
    text-transform: capitalize;
    /* font-style: italic; */
    font-family: arial;
    font-size: 2em;
    margin-bottom: 0px;
}
.brand-motto{
    font-family: arial;
    font-size: 13px;
    color: #dbd9d9;
}
.input-search{
    padding: 10px 12px;
    border-radius: 4px;
    outline: 0px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}
.input-search::-webkit-input-placeholder {
    color: #ffffff !important;
}
.input-search:-moz-placeholder { /* Firefox 18- */
    color: #ffffff !important;  
}   
.input-search::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff !important;  
}    
.input-search:-ms-input-placeholder {  
    color: #ffffff !important;  
}
.navbar-brand{
    display: none;
}
.advert-container{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.advert-wrapper{
    width: 60%;
}
.upper-advert{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 50px 0 10px;
}
.bottom-advert{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin-bottom: 10px;
}
.right-advert{
    width: 30%;
    margin-top:30px;
    margin-left: 5em;
}
.news-headline{
    background-color: #dbd9d9;
    width: 100%;
    padding: 8px 10px;
}
.category-top, .category-bottom{
    background-color: #ee002d;
    color: #ffffff;
    width: 30%;
    padding: 8px 20px;
}
.category-bottom{
    background-color: #152535;
}
.main-wrapper{
    display: flex;
    width:90%;
    margin: 0 auto 3em;
    padding: 10px;
    justify-content: space-between;
}
.main-container{
    padding: 10px;
    width: 60%;
}
aside{
    width: 30%;
}
aside h3{
    text-align: left;
    margin-bottom: 20px;
}
.subscription-form{
    background-color: #152535;
    padding: 20px;
}
.subscription-form p {
    text-align: center;
}
.subscription-form .form-group{
    width: 100%;
}
.title, .published{
    font-size: 14px;
    padding: 0px 10px;
}
.wrapper{
    margin-bottom: 5em;
}
.main-container p{
    padding-top: 10px;
}
.itemImage{
    object-fit: cover;
    width: 100%;
    height: 350px;
}
.aside-article{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-add{
    margin: 30px auto;
}
#footer-wrapper{
    background-color: #152535;
    margin: 0px;
    padding: 0px;
    height: 500px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 5em 0 5em;
    width: 90%;
    margin: 0 auto;
}
.footer-top p,
.footer-top a{
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;
}
.footer-top .nav-title{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-bottom{
    margin-top: 10px;
}
.footer-bottom p,
.footer-bottom p a{
    color: rgba(255, 255, 255, 0.5)
}
.footer-bottom p  a:hover{
    color:#ffffff;
}
.footer-copyright{
    margin-left: 50px;
}
.loader-container{
    width: 30%;
    margin: 0 auto;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}